.more{
  background-color: #fff;
  .inner {
    padding: 10px 40px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    a {
      text-decoration: none;
      color: #42b983;
      font-size: 20px;
      font-weight: bold;
      &:hover {
        color: #ff8040;
      }
    }
    ul {
      li {
        line-height: 32px;
      }
    }
    img {
      margin-left: 5px;
    }

  }
}
