.top {
  padding: 10px 60px;
  height: 65px;
  overflow: hidden;
  h3 {
    line-height: 40px;
    float: left;
    color: #42b983;
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin: 0px;
    a {
      text-decoration: none;
      color: #42b983;
    }
  }
  .gu {
    float: right;
    a {
      display: inline-block;
      margin: 0 10px;
      line-height: 30px;
      font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
      font-size: 16px;
      list-style-type: none;
      text-decoration: none;
      color: #34495e;
      &:hover {
        border-bottom: 3px solid #42b983;
      }
    }
  }
}
