.footer {
  background-color: #727f80;
  color: #fff;
  padding: 20px 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  .top {
    .wid50 {
      width: 55%;
      float: left;
      span {
        padding-left: 20px;
        line-height: 60px;
      }
      &:first-child {
        text-align: right;
        width: 45%;
      }
    }
  }
  .bottom {
    text-align: center;
  }
}
